@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pcehf7');
  src:  url('fonts/icomoon.eot?pcehf7#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?pcehf7') format('truetype'),
  url('fonts/icomoon.woff?pcehf7') format('woff'),
  url('fonts/icomoon.svg?pcehf7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-01:before {
  content: "\e900";
  color: #2446c7;
}
.icon-02:before {
  content: "\e901";
  color: #2446c7;
}
.icon-03:before {
  content: "\e902";
  color: #2446c7;
}
.icon-04:before {
  content: "\e903";
  color: #2446c7;
}
.icon-05:before {
  content: "\e904";
  color: #2446c7;
}
.icon-06:before {
  content: "\e905";
  color: #2446c7;
}
.icon-07:before {
  content: "\e906";
}
.icon-08:before {
  content: "\e907";
  color: #2446c7;
}
.icon-09:before {
  content: "\e908";
  color: #2446c7;
}
.icon-10:before {
  content: "\e909";
  color: #2446c7;
}
.icon-11:before {
  content: "\e90a";
  color: #2446c7;
}
.icon-12:before {
  content: "\e90b";
  color: #2446c7;
}
.icon-13:before {
  content: "\e90c";
  color: #2446c7;
}
.icon-14 .path1:before {
  content: "\e90d";
  color: rgb(36, 70, 199);
}
.icon-14 .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(36, 70, 199);
}
.icon-14 .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(36, 70, 199);
}
.icon-14 .path4:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(36, 70, 199);
}
.icon-14 .path5:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(36, 70, 199);
}
.icon-14 .path6:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(36, 70, 199);
}
.icon-14 .path7:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(36, 70, 199);
}
.icon-14 .path8:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(36, 70, 199);
}
.icon-14 .path9:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(36, 70, 199);
}
.icon-14 .path10:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-14 .path11:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-14 .path12:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-14 .path13:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-14 .path14:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-14 .path15:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-14 .path16:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(36, 70, 199);
}
.icon-14 .path17:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(36, 70, 199);
}
.icon-15:before {
  content: "\e91e";
  color: #2446c7;
}
.icon-16:before {
  content: "\e91f";
}
.icon-17:before {
  content: "\e920";
  color: #2446c7;
}
.icon-18:before {
  content: "\e921";
  color: #2446c7;
}
.icon-19:before {
  content: "\e922";
  color: #2446c7;
}
.icon-20:before {
  content: "\e923";
  color: #2446c7;
}
.icon-21:before {
  content: "\e924";
  color: #2446c7;
}
.icon-22:before {
  content: "\e925";
  color: #2446c7;
}
.icon-23:before {
  content: "\e926";
  color: #2446c7;
}
.icon-24:before {
  content: "\e927";
  color: #2446c7;
}
.icon-25 .path1:before {
  content: "\e928";
  color: rgb(36, 70, 199);
}
.icon-25 .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(36, 70, 199);
}
.icon-25 .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-25 .path4:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(36, 70, 199);
}
.icon-26:before {
  content: "\e92c";
  color: #2446c7;
}
.icon-27:before {
  content: "\e92d";
  color: #2446c7;
}
.icon-28:before {
  content: "\e92e";
  color: #2446c7;
}
.icon-29:before {
  content: "\e92f";
  color: #2446c7;
}
.icon-30:before {
  content: "\e930";
  color: #2446c7;
}
.icon-31:before {
  content: "\e931";
  color: #2446c7;
}
.icon-32:before {
  content: "\e932";
  color: #2446c7;
}
.icon-33:before {
  content: "\e933";
  color: #2446c7;
}
.icon-34:before {
  content: "\e934";
  color: #2446c7;
}
.icon-35:before {
  content: "\e935";
  color: #2446c7;
}
.icon-36:before {
  content: "\e936";
  color: #2446c7;
}
.icon-37:before {
  content: "\e937";
  color: #2446c7;
}
.icon-38:before {
  content: "\e938";
  color: #2446c7;
}
.icon-39:before {
  content: "\e939";
  color: #2446c7;
}
.icon-40:before {
  content: "\e93a";
  color: #2446c7;
}
.icon-41:before {
  content: "\e93b";
  color: #2446c7;
}
.icon-42:before {
  content: "\e93c";
  color: #2446c7;
}
