<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>企业文化</title>
    <meta content="minimum-scale=1.0, width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport" >
    <meta content="八城科技, 重庆八城科技有限公司, 重庆八城科技" name="keywords">
    <meta content="八城科技是一家面向未来，基于工业互联网与智联网，专注高职/高等教育阶段相关教学实训硬件/软件开发、数据平台及教学资源搭建的科技企业。公司于2017年底成立，以用户真实需求为导向驱动研发，先后取得近20项发明、新型实用、外观专利与软件著作权，成为数十个院校用户的校企合作、横向合作伙伴。八城科技是重庆市官方认定的物联网试点示范项目企业，在科技行业内，公司是中移物联网OCP认证合作伙伴、亚马逊云计算教育领域高级合作伙伴、华为鲲鹏云认证合作伙伴、INTEL FPGA生态成员企业、瀚云大数据互为高等战略合作伙伴企业。八城科技是一家专注于高职/高等教育阶段，基于Aiot相关教育的实训设备、数据平台与课程内容的研发及教学服务机构" name="description">
    <meta itemprop="name" content="重庆八城科技有限公司">
	<meta itemprop="description" content="八城科技是一家面向未来，基于工业互联网与智联网，专注高职/高等教育阶段相关教学实训硬件/软件开发、数据平台及教学资源搭建的科技企业。公司于2017年底成立，以用户真实需求为导向驱动研发，先后取得近20项发明、新型实用、外观专利与软件著作权，成为数十个院校用户的校企合作、横向合作伙伴。八城科技是重庆市官方认定的物联网试点示范项目企业，在科技行业内，公司是中移物联网OCP认证合作伙伴、亚马逊云计算教育领域高级合作伙伴、华为鲲鹏云认证合作伙伴、INTEL FPGA生态成员企业、瀚云大数据互为高等战略合作伙伴企业。八城科技是一家专注于高职/高等教育阶段，基于Aiot相关教育的实训设备、数据平台与课程内容的研发及教学服务机构">
	<meta itemprop="image" th:content="@{${#servletContext.getAttribute('dnstatic') + '/images/logo.svg' + #servletContext.getAttribute('vstatic')}}">
    <th:block th:include="head :: headlink"></th:block>
    <link th:href="@{${#servletContext.getAttribute('dnstatic') + '/lib/videojs/video-js.min.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
</head>

<body>
    <div th:replace="~{header :: head}"></div>
    <!--==========================
    Intro Section
    ============================-->
    <section id="intro" class="about-banner clearfix">
        <div class="container">
            <div class="intro-info">
                <h2>关于我们</h2>
                <p>重庆八城科技有限公司成立于2015年，注册资金1080万，国家级高新技术企业，是一家专注于物联网领域，面向教育行业提供软硬件平台及服务的科技公司</p>
                <p>公司先后取得近20余项发明、实用新型、外观设计专利与软件著作权，研发软件产品获得HUAWEI COMPATIBLE国产化软件认证证书。公司教育产品已覆盖全国30余所高校</p>
                <p>八城科技是华为云生态合作伙伴，战略合作伙伴有海云捷讯、瀚云科技、朗新科技公司</p>
                <p class="btn-wrap">
                    <a href="joinus.html" class="btn btn-primary">加入我们</a>
                </p>
                <br />
                <div class="video-wrap">
                    <video th:attr="poster=@{${#servletContext.getAttribute('dnstatic') + '/images/video-logo.png' + #servletContext.getAttribute('vstatic')}}" id="my-player" class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered" controls preload="auto" data-setup='{"fluid": true}'>
                        <source type="video/mp4" th:src="@{${#servletContext.getAttribute('devestatic') + '/edu/img/sys/handout/web/bacheng.mp4' + #servletContext.getAttribute('vstatic')}}"></source>
                    </video>
                </div>
            </div>

        </div>
    </section><!-- #intro -->

    <main id="main">

        <!--==========================
        Values Section
        ============================-->
        <section class="list-wrap" style="padding-bottom: 0px">
            <div class="container">
                <div class="section-header">
                    <h3>企业价值观</h3>
                    <p>价值观是企业的灵魂</p>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-xl-3 col-md-6 wow fadeInUp">
                        <div class="item">
                            <span class="icon-thinice"></span>
                            <h4>如履薄冰，如临深渊</h4>
                            <p>我们时刻保持敬畏之心，积极迎合用户需求快速迭代甚至改变，尊重科技进步带来的技术变革，以谨小慎微之心对待企业经营过程中的风险</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-xl-3 offset-xl-1 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="item">
                            <span class="icon-modest"></span>
                            <h4>精进如饥，虚心若愚</h4>
                            <p>维护持久的饥饿感以保障持续的精进，像愚者那样向用户/同行寻求解答</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-xl-3 offset-xl-1 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="item">
                            <span class="icon-lookup"></span>
                            <h4>成果导向</h4>
                            <p>作为一家以产品研发为主的科技型企业，我们看重的成果而不是结果，并且我们的成果一定以满足用户实际需求为准则</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-xl-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="item">
                            <span class="icon-card"></span>
                            <h4>全员面向用户</h4>
                            <p>我们每一个岗位都要面向用户，我们每一位同志必须以用户真实需求引导自己的工作，我们的工作目标以用户满意度为导向，并以此作为工作绩效评价的重要依据</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-xl-3 offset-xl-1 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="item">
                            <span class="icon-education"></span>
                            <h4>服务教育，增值教育</h4>
                            <p>我们专注于中国高等/职教育，为5000万在校青年提供最有效的学习内容，为教师提供解决实际问题的教学产品与教学资源，为学校的科研、课改、教学与实训提供学术增值</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-xl-3 offset-xl-1 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="item">
                            <span class="icon-window"></span>
                            <h4>连接共生，相互成就</h4>
                            <p>我们务必保持开放的心态，在维持自身专业精神的前提下尽最大可能与伙伴们维持连接共生的关系，去满足我们用户的需求并实现多方的相互成就</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <div style="height: 580px;">
            <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/map.png' + #servletContext.getAttribute('vstatic')}}" alt="" style="width: 100% !important;height: 100% !important;">
        </div>

    </main>

    <div th:replace="~{footer :: copy}"></div>

    <a href="#" class="back-to-top"><i class="fa fa-chevrup"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <th:block th:include="scripts :: scripts"></th:block>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') +'/lib/videojs/video.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
</html>