<th:block th:fragment="headlink">
	<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://www.stepiot.com",
      "logo": "https://www.stepiot.com/web/images/loogo.png"
    }
    </script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167561541-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-167561541-1');
	</script>
	<!-- Favicons -->
    <link th:href="@{${#servletContext.getAttribute('dnstatic') + '/images/favicon.png' + #servletContext.getAttribute('vstatic')}}" rel="icon">
    <link th:href="@{${#servletContext.getAttribute('dnstatic') + '/images/apple-touch-icon.png' + #servletContext.getAttribute('vstatic')}}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/gfonts.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link th:href="@{${#servletContext.getAttribute('dnstatic') + '/lib/bootstrap/css/bootstrap.min.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link th:href="@{${#servletContext.getAttribute('dnstatic') + '/lib/font-awesome/css/font-awesome.min.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
    <link th:href="@{${#servletContext.getAttribute('dnstatic') + '/lib/animate/animate.min.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
    <link th:href="@{${#servletContext.getAttribute('dnstatic') + '/lib/ionicons/css/ionicons.min.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
    <link th:href="@{${#servletContext.getAttribute('dnstatic') + '/lib/owlcarousel/assets/owl.carousel.min.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
    <link th:href="@{${#servletContext.getAttribute('dnstatic') + '/lib/lightbox/css/lightbox.min.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
    <!-- Main Stylesheet File -->
    <link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/style.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
    
</th:block>