<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>重庆八城科技有限公司</title>
    <meta content="minimum-scale=1.0, width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport" >
    <meta content="八城科技, 重庆八城科技有限公司, 重庆八城科技" name="keywords">
    <meta content="八城科技是一家面向未来，基于工业互联网与智联网，专注高职/高等教育阶段相关教学实训硬件/软件开发、数据平台及教学资源搭建的科技企业。" name="description">
    <meta itemprop="name" content="重庆八城科技有限公司">
	<meta itemprop="description" content="八城科技是一家面向未来，基于工业互联网与智联网，专注高职/高等教育阶段相关教学实训硬件/软件开发、数据平台及教学资源搭建的科技企业。">
	<meta itemprop="image" th:content="@{${#servletContext.getAttribute('dnstatic') + '/images/weblogo.png' + #servletContext.getAttribute('vstatic')}}">
    <th:block th:include="head :: headlink"></th:block>
    <link th:href="@{${#servletContext.getAttribute('dnstatic') + '/lib/videojs/video-js.min.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
    <style>
        #video{padding:20px 0!important}#intro{width:100%;position:relative;background:#2c49c2;padding:320px 0 200px 0;color:#fff;font-weight:200}@media (min-width:576px){#open-pos .extra h5{text-align:right}}@media (min-width:992px){#testimonials .testimonial-item p{width:80%}}@media (min-width:1400px){#intro.case-banner,#intro.partner-banner{padding-top:200px}}@media (min-width:1900px){#intro.case-banner,#intro.partner-banner{padding-top:260px}}@media (max-width:991px){#header{height:60px;padding:10px 0}#header .logo h1{font-size:28px;padding:8px 0}#intro{padding:80px 0 60px 0}#intro .intro-foreground{position:static;transform:none;background:0 0!important;margin-bottom:40px;text-align:center}#intro .intro-foreground img{display:inline-block;width:80%;max-width:320px}#intro .intro-img{width:80%;float:none;margin:0 auto 25px auto}#intro .intro-info{width:80%;float:none;margin:auto;text-align:center}#why-us .card{margin:0}#intro.overflow+#main section:first-child{padding-top:80px}}@media (max-width:768px){.back-to-top{bottom:15px}}@media (max-width:767px){#intro .intro-info{width:100%}#intro .intro-info h2{font-size:34px;margin-bottom:30px}.section-header p{width:100%}#testimonials .testimonial-item{text-align:center}#testimonials .testimonial-item .testimonial-img{float:none;margin:auto}#testimonials .testimonial-item h3,#testimonials .testimonial-item h4,#testimonials .testimonial-item p{margin-left:0}}@media (max-width:574px){#intro{padding:50px 0 20px 0}}
    </style>
</head>
<body>
    <div th:replace="~{header :: head}"></div>
    <!--==========================
    Intro Section
    ============================-->
    <section id="intro" class="home-banner clearfix">
        <div class="container">
            <div class="intro-info">
                <h2>八城科技</h2>
                <h5>服务5000万高校青年</h5>
                <p>八城科技是一家以用户真实需求为导向，基于全球最前沿物联网、云（边缘）计算与半导体技术，为中国4000余所高等院校及其近5000万在校学生提供教学管理、实训实验、教学资源与教育服务的科技企业</p>
            </div>
        </div>
    </section><!-- #intro -->
    <main id="main">
        <!--==========================
          Description Section
        ============================-->
        <section id="video">
                            <header class="section-header wow fadeInUp">
                                <h3>我们的服务</h3>
                            </header>
            <div>
                <div class="video-wrap">
                    <video th:attr="poster=@{${#servletContext.getAttribute('dnstatic') + '/images/video-logo.png' + #servletContext.getAttribute('vstatic')}}" id="my-player" class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered" controls preload="auto" data-setup='{"fluid": true}'>
					  <source type="video/mp4" th:src="@{${#servletContext.getAttribute('devestatic') + '/edu/img/sys/handout/web/bacheng.mp4' + #servletContext.getAttribute('vstatic')}}"></source>
					</video>
                </div>
            </div>
        </section>
<!--         <section id="description"> -->
<!--                <header class="section-header wow fadeInUp">-->
<!--                    <h3>中微子：支持多种语言</h3>-->
<!--                    <p>平台支持Python、Java、C、C++、PHP、Golang、NodeJs</p>-->
<!--                </header>-->
<!--                <div class="row extra align-items-center">-->
<!--                    <div class="img-wrap col-md-4 offset-md-1 order-md-last order-first wow fadeInUp">-->
<!--                        <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/home-2.svg' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">-->
<!--                    </div>-->
<!--                    <div class="col-md-5 offset-md-1 wow fadeInUp">-->
<!--                        <div>-->
<!--                            <div class="p">平台支持多种编程语言，包括：</div>-->
<!--                            <ol>-->
<!--                                <li>Python</li>-->
<!--                                <li>Java</li>-->
<!--                                <li>C</li>-->
<!--                                <li>C++</li>-->
<!--                                <li>PHP</li>-->
<!--                                <li>Golang</li>-->
<!--                                <li>NodeJs</li>-->
<!--                            </ol>-->
<!--                            <br />-->
<!--                            <a href="javascript:;" class="link link-more">了解更多</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <header class="section-header wow fadeInUp">-->
<!--                    <h3>零基础编程认知</h3>-->
<!--                    <p>图形化，软硬件结合，体系化课程设计</p>-->
<!--                </header>-->

<!--                <div class="row extra align-items-center">-->
<!--                    <div class="img-wrap col-md-4 offset-md-1 wow fadeInUp">-->
<!--                        <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/home-3.svg' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">-->
<!--                    </div>-->
<!--                    <div class="col-md-6 offset-md-1 col-lg-5 offset-lg-2 wow fadeInUp">-->
<!--                        <div>-->
<!--                            <div class="p">面向计算机文化基础编程认知教学的尝试。</div>-->
<!--                            <div class="p">平台提供了以下优势：</div>-->
<!--                            <ol>-->
<!--                                <li>图形化积木编程</li>-->
<!--                                <li>软硬件结合的物联网应用场景</li>-->
<!--                                <li>覆盖高级语言核心概念的多种编程形态</li>-->
<!--                                <li>系统自动评分</li>-->
<!--                            </ol>-->
<!--                            <br />-->
<!--                            <a href="javascript:;" class="link link-more">了解更多</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <header class="section-header wow fadeInUp">-->
<!--                    <h3>任意组合的物联网教学场景</h3>-->
<!--                    <p>蜂巢结构，自由拼接，随意组合</p>-->
<!--                </header>-->
<!--                <div class="row extra align-items-center">-->
<!--                    <div class="img-wrap col-md-4 offset-md-1 order-md-last order-first wow fadeInUp">-->
<!--                        <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/home-4.svg' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">-->
<!--                    </div>-->
<!--                    <div class="col-md-5 offset-md-1 wow fadeInUp">-->
<!--                        <div>-->
<!--                            <div class="p">物联网系列实训产品采用基于蜂巢结构的设计，可实现自由拼接，随意组合。</div>-->
<!--                            <div class="p">产品体系包含37种模组，超过10万种组合。</div>-->
<!--                            <div class="p">可覆盖高校物联网工程所有教学应用场景的需求，包括：STM32、ZigBee、NB-lot、RFID等</div>-->
<!--                            <div class="p">多种产品形态：STM32套装、综合实训台、创新实验台等等</div>-->
<!--                            <br />-->
<!--                            <a href="javascript:;" class="link link-more">了解更多</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--         </section> -->
        <!--==========================
          Slove Section
        ============================-->
<!--        <section id="solve-btn-wrap">-->
<!--            <div class="container">-->
<!--                <header class="section-header wow fadeInUp">-->
<!--                    <h3>成功案例</h3>-->
<!--                </header>-->
<!--                <a href="/case.html" class="btn btn-light">了解更多</a>-->
<!--            </div>-->
<!--        </section>-->

        <section id="customer">
            <div class="container">
                <header class="section-header wow fadeInUp">
                    <h3>媒体报道</h3>
                    <p></p>
                </header>
                <div class="row customer-wrap">
                        <div class="col-sm-6 col-md-4 col-lg-3 " th:each="item,news:${data}">
                            <div class="thumbnail" style="height: 336px;">
                                <a th:href="${item.news_url}" th:attr="title=${item.title}" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'webpack'])">
                                    <img class="lazy" th:src="@{${#servletContext.getAttribute('dnstatic') +item.cover_image_url+#servletContext.getAttribute('vstatic')}}" width="300" height="150" th:attr="alt=${item.title}">
                                </a>
                                <div class="caption">
                                    <h4>
                                        <a th:href="${item.news_url}" th:attr="title=${item.title}" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'webpack'])">
                                            <small th:text="${item.title}" style="color: rgba(9, 29, 75, 1)"></small></a>
                                    </h4>
                                    <p th:text="${item.summary}"></p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </section>
        <!--==========================
          Clients Section
        ============================-->
        <section id="customer">
            <div class="container">
                <header class="section-header wow fadeInUp">
                    <h3>客户的信任</h3>
                    <p></p>
                </header>
                <div class="row customer-wrap">

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="#">
                            <div class="customer-logo">
                                <div class="img-wrap">
                                    <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logos/陆军勤务学院.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                                </div>
                                <span>中国人民解放军陆军勤务学院</span>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="http://www.cqust.edu.cn/" target="_blank">
                        <div class="customer-logo">
                            <div class="img-wrap">
                                <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logos/重庆科技学院.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                            </div>
                            <span>重庆科技学院</span>
                        </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="http://www.xjtu.edu.cn/" target="_blank">
                        <div class="customer-logo">
                            <div class="img-wrap">
                                <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logos/西安交通大学.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                            </div>
                            <span>西安交通大学</span>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="http://www.xaut.edu.cn/" target="_blank">
                        <div class="customer-logo">
                            <div class="img-wrap">
                                <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logos/西安理工大学.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                            </div>
                            <span>西安理工大学</span>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="https://www.nwpu.edu.cn/" target="_blank">
                        <div class="customer-logo">
                            <div class="img-wrap">
                                <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logos/西北工业大学.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                            </div>
                            <span>西北工业大学</span>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="https://www.cqu.edu.cn/" target="_blank">
                        <div class="customer-logo">
                            <div class="img-wrap">
                                <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logos/重庆大学.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                            </div>
                            <span>重庆大学</span>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="http://www.cqwu.net/" target="_blank">
                        <div class="customer-logo">
                            <div class="img-wrap">
                                <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logos/重庆文理学院.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                            </div>
                            <span>重庆文理学院</span>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="http://www.zzu.edu.cn/" target="_blank">
                            <div class="customer-logo">
                                <div class="img-wrap">
                                    <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logos/郑州大学.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                                </div>
                                <span>郑州大学</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="https://www.cqnu.edu.cn/" target="_blank">
                        <div class="customer-logo">
                            <div class="img-wrap">
                                <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logos/重庆师范大学.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                            </div>
                            <span>重庆师范大学</span>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="http://www.swu.edu.cn/" target="_blank">
                        <div class="customer-logo">
                            <div class="img-wrap">
                                <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logos/重庆西南大学.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                            </div>
                            <span>西南大学</span>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="https://www.ctbu.edu.cn/" target="_blank">
                        <div class="customer-logo">
                            <div class="img-wrap">
                                <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logos/重庆工商大学.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                            </div>
                            <span>重庆工商大学</span>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="https://www.cqut.edu.cn/" target="_blank">
                        <div class="customer-logo">
                            <div class="img-wrap">
                                <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logos/重庆理工大学.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                            </div>
                            <span>重庆理工大学</span>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="http://www.sicp.edu.cn/" target="_blank">
                        <div class="customer-logo">
                            <div class="img-wrap">
                                <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logos/上海工商职业技术学院.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                            </div>
                            <span>上海工商职业技术学院</span>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="https://www.sdut.edu.cn/" target="_blank">
                        <div class="customer-logo">
                            <div class="img-wrap">
                                <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logos/山东理工大学.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                            </div>
                            <span>山东理工大学</span>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="http://www.zzuli.edu.cn/" target="_blank">
                        <div class="customer-logo">
                            <div class="img-wrap">
                                <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logos/郑州轻工业大学.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                            </div>
                            <span>郑州轻工业大学</span>
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="http://www.cs.cqu.edu.cn/" target="_blank">
                            <div class="customer-logo">
                                <div class="img-wrap">
                                    <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logos/重庆大学计算机学院.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                                </div>
                                <span>重庆大学计算机学院</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <a href="http://www.cqtbi.edu.cn/" target="_blank">
                        <div class="customer-logo">
                            <div class="img-wrap">
                                <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logos/重庆工商职业学院.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="" style="width: 160px;">
                            </div>
                            <span>重庆工商职业学院</span>
                        </div>
                        </a>
                    </div>
                </div>
<!--                <a href="javascript:;" class="btn btn-primary">查看更多</a>-->
            </div>
        </section>
    </main>
    <div th:replace="~{footer :: copy}"></div>
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <th:block th:include="scripts :: scripts"></th:block>
	<script th:src="@{${#servletContext.getAttribute('dnstatic') +'/lib/videojs/video.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
</html>
