<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>智能编程实验平台</title>
    <meta content="minimum-scale=1.0, width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport" >
    <meta content="八城科技, 重庆八城科技有限公司, 重庆八城科技, 智能编程实验平台" name="keywords">
    <meta content="智能编程实验平台是面向职业院校或非工科类高校针对计算机文化基础课程推出的基于Python语言的图形化软硬件结合的编程认知学习平台" name="description">
    <meta itemprop="name" content="智能编程实验平台">
	<meta itemprop="description" content="智能编程实验平台是面向职业院校或非工科类高校针对计算机文化基础课程推出的基于Python语言的图形化软硬件结合的编程认知学习平台">
	<meta itemprop="image" th:content="@{${#servletContext.getAttribute('dnstatic') + '/images/products/blockly.svg' + #servletContext.getAttribute('vstatic')}}">
    <th:block th:include="head :: headlink"></th:block>
    <link th:href="@{${#servletContext.getAttribute('dnstatic') + '/lib/videojs/video-js.min.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
</head>
<body>
    <div th:replace="~{header :: head}"></div>
    <!--==========================
    Intro Section
    ============================-->
    <section id="intro" class="clearfix overflow">
        <div class="intro-foreground" th:style="'background-image:url(' + @{${#servletContext.getAttribute('dnstatic') + '/images/products/blockly/1.png' + #servletContext.getAttribute('vstatic')}} + ');'">
            <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/products/blockly/2.png' + #servletContext.getAttribute('vstatic')}}">
        </div>
        <div class="container">
            <div class="intro-info">
                <h2>智能编程实验平台</h2>
                <div>
                	<p>智能编程实验平台是面向职业院校或非工科类高校针对计算机文化基础课程推出的基于Python语言的图形化软硬件结合的编程认知学习平台</p>
                </div>
            </div>
        </div>
    </section><!-- #intro -->
    <main id="main">
        <!--==========================
          Platform Section
        ============================-->
        <section class="list-wrap">
            <div class="container">
                <header class="section-header">
                    <h3>智能编程实验平台</h3>
                    <p>图形化软硬件结合的Python编程认知平台</p>
                </header>
                <div class="row">
                    <div class="col-lg-4 col-md-6 wow fadeInUp">
                        <div class="item">
                            <span class="icon-25"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
                            <h4>积木式编程环境</h4>
                            <p>基于Google Blockly积木式编程环境，提供初学者友好的开发IDE</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="item">
                            <span class="icon-26"></span>
                            <h4>软硬件结合</h4>
                            <p>通过软硬件结合的方式，增强学生学习Python编程的体验感和趣味性，并强化编程认知</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="item">
                            <span class="icon-27"></span>
                            <h4>丰富多样的编程形态</h4>
                            <p>平台提供“太空漫步”、“海龟编程”、“NestBlock软硬结合编程”、“文本编程”四种编程形态，通过不同的编程形态来覆盖不同的程序知识点，达到在不失趣味性的前提下易学易懂的目的</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="item">
                            <span class="icon-28"></span>
                            <h4>丰富的教学资源</h4>
                            <p>平台提供18章编程大纲，每一纲包括若干编程小节，总计60小节，每小节配有对应的课程讲义、教学PPT及编程教学视频</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="item">
                            <span class="icon-29"></span>
                            <h4>作业自动评分</h4>
                            <p>系统提供学生作业自动评分功能，并生成对应的评分参考报告</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="item">
                            <span class="icon-31"></span>
                            <h4>教学管理</h4>
                            <p>平台提供作业管理、学生管理、班级管理、课程进度、教室管理、院校管理、专业管理、统计分析教学管理功能</p>
                        </div>
                    </div>
                </div>
<!--                <div class="tc wow fadeInUp" data-wow-delay="0.6s">-->
<!--                    <a href="https://cqtbi.stepiot.com" class="btn btn-primary">了解更多</a>-->
<!--                </div>-->
            </div>
        </section>
        <!--==========================
          Video Demo Section
        ============================-->
       <section id="video">
           <div class="container">
               <div class="section-header">
                   <h3>演示视频</h3>
                   <p>Demo Video</p>
               </div>
               <div class="video-wrap wow fadeInUp">
<!--                    <video autoplay="autoplay" loop> -->
<!--                        <source type="video/mp4" th:src="@{${#servletContext.getAttribute('devestatic') + '/edu/img/sys/handout/web/blockly.mp4' + #servletContext.getAttribute('vstatic')}}"></source> -->
<!--                    </video> -->
<!--                   <video id="my-player" class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered" controls preload="auto" data-setup='{"fluid": true}'>-->
                       <video th:attr="poster=@{${#servletContext.getAttribute('dnstatic') + '/images/program-video-logo.png' + #servletContext.getAttribute('vstatic')}}" id="my-player" class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered" controls preload="auto" data-setup='{"fluid": true}'>
					  <source type="video/mp4" th:src="@{${#servletContext.getAttribute('devestatic') + '/edu/img/sys/handout/web/blockly.mp4' + #servletContext.getAttribute('vstatic')}}"></source>
					  <source type="video/webm" th:src="@{${#servletContext.getAttribute('devestatic') + '/edu/img/sys/handout/web/blockly.webm' + #servletContext.getAttribute('vstatic')}}"></source>
					  <source type="video/ogg" th:src="@{${#servletContext.getAttribute('devestatic') + '/edu/img/sys/handout/web/blockly.ogv' + #servletContext.getAttribute('vstatic')}}"></source>
					</video>
               </div>
           </div>
       </section>
        <!--==========================
          Machine Learning Section
        ============================-->
        <section id="machine">
            <div class="container">
                <header class="section-header">
                    <h3>智能编程实验平台</h3>
                    <p>四种编程形态</p>
                </header>
                <div class="row extra align-items-center">
                    <div class="col-md-6 wow fadeInUp">
                        <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/products/blockly/3.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-6 col-lg-5 offset-lg-1 wow fadeInUp">
                        <h4>太空漫步</h4>
                        <p>
                            学生通过搭建积木程序控制宇航员顺着管道从起点到达终点（即：完成任务）。通过“太空漫步”编程形式，学生可以学习到以下知识点：程序的顺序执行、循环、条件语句、多分支条件语句。
                        </p>
                    </div>
                </div>
                <div class="row extra align-items-center">
                    <div class="col-md-6 offset-lg-1 background order-md-last order-first wow fadeInUp">
                        <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/products/blockly/4.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-6 col-lg-5 wow fadeInUp">
                        <h4>海龟编程</h4>
                        <p>
                            通过搭建积木程序来控制海龟绘制线条或输出文字，填充完“海龟动画演示栏”内的文字或几何图形即可完成任务。通过“海龟编程”形态，学生可以学习到以下程序知识点：循环的嵌套、循环控制：break、循环控制：continue
                        </p>
                    </div>
                </div>
                <div class="row extra align-items-center">
                    <div class="col-md-6 wow fadeInUp">
                        <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/products/blockly/5.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-6 col-lg-5 offset-lg-1 wow fadeInUp">
                        <h4>软硬件结合编程</h4>
                        <p>
                            学生通过搭建积木程序与硬件进行交互。通过这种编程形态，学生可以形象地学习到以下知识点：变量、逻辑运算、比较运算、数学运算、程序的输入输出、函数、随机数、列表、字符串
                        </p>
                    </div>
                </div>
                <div class="row extra align-items-center">
                    <div class="col-md-6 offset-lg-1 background order-md-last order-first wow fadeInUp">
                        <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/products/blockly/6.png' + #servletContext.getAttribute('vstatic')}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-6 col-lg-5 wow fadeInUp">
                        <h4>文本编程</h4>
                        <p>
                            学生将通过文本方式（区别于前三种积木拖拽的形态）来编写Python程序，程序可以向画板绘制几何图形或向控制台输出结果。通过该形态，学生将认识到：什么是Python文本编程；如何进行文本编程；定义简单的函数并调用
                        </p>
                    </div>
                </div>

            </div>
        </section>
<!--        <section id="reg-btn-wrap">-->
<!--            <a href="https://docs.stepiot.com" class="btn btn-light">了解更多</a>-->
<!--        </section>-->
    </main>
    <div th:replace="~{footer :: copy}"></div>
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <th:block th:include="scripts :: scripts"></th:block>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') +'/lib/videojs/video.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
</html>
