<th:block th:fragment="scripts">
	<script th:src="@{${#servletContext.getAttribute('dnstatic') +'/lib/jquery/jquery.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script th:src="@{${#servletContext.getAttribute('dnstatic') +'/lib/jquery/jquery-migrate.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script th:src="@{${#servletContext.getAttribute('dnstatic') +'/lib/bootstrap/js/bootstrap.bundle.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script th:src="@{${#servletContext.getAttribute('dnstatic') +'/lib/easing/easing.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script th:src="@{${#servletContext.getAttribute('dnstatic') +'/lib/mobile-nav/mobile-nav.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script th:src="@{${#servletContext.getAttribute('dnstatic') +'/lib/wow/wow.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script th:src="@{${#servletContext.getAttribute('dnstatic') +'/lib/waypoints/waypoints.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script th:src="@{${#servletContext.getAttribute('dnstatic') +'/lib/counterup/counterup.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script th:src="@{${#servletContext.getAttribute('dnstatic') +'/lib/owlcarousel/owl.carousel.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script th:src="@{${#servletContext.getAttribute('dnstatic') +'/lib/isotope/isotope.pkgd.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script th:src="@{${#servletContext.getAttribute('dnstatic') +'/lib/lightbox/js/lightbox.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<!-- Contact Form JavaScript File -->
	<script th:src="@{${#servletContext.getAttribute('dnstatic') +'/contactform/contactform.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<!-- Template Main Javascript File -->
	<script th:src="@{${#servletContext.getAttribute('dnstatic') +'/js/main.js' + #servletContext.getAttribute('vstatic')}}"></script>
</th:block>